.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 16.5px;
    font-family: 'Roboto Slab', serif;
    color: rgb(214, 16, 16);
    font-weight: bold;
}

body{
    background-size: cover;
}